<form action="" class="form container">
  <h2 class="form__title">Adicione um novo pensamento ou citação</h2>
  <div class="form__div-thought">
    <label for="thought"
    class="form__div-thought__label"
    >Pensamento ou citação</label>
    <input
      type="textarea"
      id="thought"
      name="thought"
      placeholder="Digite o pensamento ou citação"
      class="form__div-thought__input"
      >
  </div>
  <div class="form__div-author">
    <label for="author"
    class="form__div-author__label"
    >Autoria</label>
    <input
      type="textarea"
      id="author"
      name="author"
      placeholder="Digite a autoria"
      class="form__div-author__input"
      >
  </div>
</form>
