<form action="" class="form container">
  <h2 class="form__title">Adicione um novo pensamento ou citação</h2>
  <div class="form__div-thought">
    <label for="thought"
    class="form__div-thought__label"
    >Pensamento ou citação</label>
    <input
      type="textarea"
      id="thought"
      name="thought"
      placeholder="Digite o pensamento ou citação"
      class="form__div-thought__input"
      >
  </div>
  <div class="form__div-author">
    <label for="author"
    class="form__div-author__label"
    >Autoria</label>
    <input
      type="textarea"
      id="author"
      name="author"
      placeholder="Digite a autoria"
      class="form__div-author__input"
      >
  </div>
  <label for="model">Selecione o modelo do card:</label>
  <div class="form__container-radio">
    <div class="form__container-radio__radio-modelo">
      <label for="model1">
        <input
        type="radio"
        id="model1"
        value="model1"
        name="model-card"
        >
        <div class="custom-radio">
          <span></span>
        </div>
        <span>Modelo 1</span>
      </label>
      Prévia:
      <div class="model model1">
        <img src="" alt="">
        <p class="content">Pensamento vai aqui</p>
        <p class="author">Autoria vai aqui</p>
      </div>
    </div>
  </div>

</form>
