<h2 class="form__title">Adicione um novo pensamento ou citação</h2>

<form class="form container" (ngSubmit)="saveData()">
  <div class="form__div-thought">
    <label for="thought" class="form__div-thought__label">Pensamento ou citação</label>
    <input
    type="textarea"
    id="thought"
    name="thought"
    placeholder="Digite o pensamento ou citação"
    class="form__div-thought__input"
    [(ngModel)]="inputContent">
  </div>
  <div class="form__div-author">
    <label for="author" class="form__div-author__label">Autoria</label>
    <input
    type="textarea"
    id="author"
    name="author"
    placeholder="Digite a autoria"
    class="form__div-author__input"
    [(ngModel)]="inputAuthor">
  </div>

  <div class="form__div-models">
    <label for="model" class="form__label-model">Selecione o modelo do card:</label>

    <div class="form__div-models__models">
      <div class="model">
        <label for="model1" class="model__label" >
          <input type="radio" id="model1" value="model1" name="model-card" class="model__label-input" >
          <div class="model__label-div">
              <span class="model__label-div__span"></span>
          </div>
          <span class="model__label-span">Modelo 1</span>
        </label>

        <p class="preview-text">Prévia:</p>

        <div class="model__card model1">
          <img src="../../../assets/aspas1.png" alt="Aspas rosas" class="model__card-img">
          <p>{{ inputContent }}</p>
          <p>{{ inputAuthor }}</p>
        </div>
      </div>

      <div class="model">
        <label for="model2" class="model__label" >
          <input type="radio" id="model2" value="model2" name="model-card" class="model__label-input" >
          <div class="model__label-div">
              <span class="model__label-div__span"></span>
          </div>
          <span class="model__label-span">Modelo 2</span>
        </label>

        <p class="preview-text">Prévia:</p>

        <div class="model__card model2">
          <img src="../../../assets/aspas2.png" alt="Aspas rosas" class="model__card-img">
          <p>{{ inputContent }}</p>
          <p>{{ inputAuthor }}</p>
        </div>
      </div>

      <div class="model">
        <label for="model3" class="model__label" >
          <input type="radio" id="model3" value="model3" name="model-card" class="model__label-input" >
          <div class="model__label-div">
              <span class="model__label-div__span"></span>
          </div>
          <span class="model__label-span">Modelo 3</span>
        </label>

        <p class="preview-text">Prévia:</p>

        <div class="model__card model3">
          <img src="../../../assets/aspas3.png" alt="Aspas rosas" class="model__card-img">
          <p>{{ inputContent }}</p>
          <p>{{ inputAuthor }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="form__buttons">
    <button type="submit" routerLink="/quotes">Salvar</button>
    <button routerLink="/quotes">Cancelar</button>
  </div>

</form>


